<div class="card ms-4 shadow-sm">
  <div class="card-body">
    <div class="d-flex mb-2">
      <div class="card me-4 calendar">
        <div class="card-header fs-6" id="month">Aug</div>
        <div class="card-body fs-2 fw-bold" id="day">22</div>
      </div>
      <div class="details">
        <span class="text-muted">Next interview</span>
        <ul>
          <li>Google</li>
          <li>Meeting with John Doe</li>
        </ul>
      </div>
    </div>
    <span class="fw-bold fs-2 mb-2">9:00am - 9:00pm</span>
    <p class="text-muted">PHONE SCREEN</p>
  </div>
</div>