<div class="form-container">
  <h2 mat-dialog-title>Add Question</h2>
  <mat-dialog-content>
    <form [formGroup]="questionForm">
      <label for="question" class="form-label">Question</label>
      <input type="text" class="form-control" id="question" formControlName="question" required>
      @if (question?.invalid && question?.dirty) {
        <div class="alert alert-danger">
          @if (question?.hasError('required')) {
            <div>Question is required.</div>
          }
        </div>
      }
      <label for="note" class="form-label">Notes</label>
      <quill-editor [styles]="noteStyles" id="note" formControlName="note"></quill-editor>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" [disabled]="!questionForm.valid" (click)="onSubmit()">
      @if (formData.isUpdate) {
        Update
      } @else {
        Save
      }
    </button>
  </mat-dialog-actions>
</div>