.nav {
  font-size: 15px;
}

.status:hover {
  color: #6e2594;
  cursor: pointer;
}

.status {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
}

#application-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border: 2px solid #d9d9d9;
  overflow-y: auto;
}

.search-container {
  background-color: #eef2f7;
  border-bottom: 1px solid #F2F3F5;
}

#add-btn {
  color: white;
  background-color: #6e2594;
}

#delete-all-btn {
  color: white;
  background-color: red;
}

.interview-container {
  background-color: #F2F3F5;
}