<div class="container ms-2 me-2 page-container">
  <div class="row">
    <div class="col-9">
      <div class="header">
        <div class="btn-container">
          <h1>Applications</h1>
          <div>
            <button class="btn btn-outline-danger me-4" id="delete-all-btn" (click)="deleteAllClicked()">Delete All</button>
            <button class="btn" id="add-btn" (click)="openDialog()">+ Add application</button>
          </div>
        </div>
        <p>Keep track of the jobs you have applied to.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div id="application-container" class="ps-4 pe-4 shadow-sm">
        <div class="search-container sticky-top">
          <ul class="nav nav-pills nav-fill mb-3">
            <li class="nav-item" [ngClass]="{ 'active':activeTab==='APPLIED'}" (click)="getApplications('APPLIED')">
              <div class="nav-link status">
                APPLIED
                <mat-icon class="ms-1">check_circle_outline</mat-icon>
              </div>
            </li>
            <li class="nav-item" [ngClass]="{ 'active':activeTab==='ONLINE_ASSESSMENT'}" (click)="getApplications('ONLINE_ASSESSMENT')">
              <div class="nav-link status">
                ONLINE ASSESSMENT
                <mat-icon class="ms-1">assignment</mat-icon>
              </div>
            </li>
            <li class="nav-item" [ngClass]="{ 'active':activeTab==='INTERVIEW'}" (click)="getApplications('INTERVIEW')">
              <div class="nav-link status">
                INTERVIEW
                <mat-icon class="ms-1">group</mat-icon>
              </div>
            </li>
            <li class="nav-item" [ngClass]="{ 'active':activeTab==='OFFER'}" (click)="getApplications('OFFER')">
              <div class="nav-link status">
                OFFER
                <mat-icon class="ms-1">celebration</mat-icon>
              </div>
            </li>
            <li class="nav-item" [ngClass]="{ 'active':activeTab==='REJECTED'}" (click)="getApplications('REJECTED')">
              <div class="nav-link status">
                REJECTED
                <mat-icon class="ms-1">thumb_down_alt</mat-icon>
              </div>
            </li>
            <li class="nav-item" [ngClass]="{ 'active':activeTab==='GHOSTED'}" (click)="getApplications('GHOSTED')">
              <div class="nav-link status">
                GHOSTED
                <mat-icon class="ms-1">visibility_off</mat-icon>
              </div>
            </li>
          </ul>
          <input class="search-bar mb-3" type="text" placeholder="Search...">
        </div>
        @if (applicationSubscription$) {
          @for (application of applicationSubscription$ | async; track application.id) {
            <div>
              <ul class="list-unstyled overflow-auto">
                <li><app-application-card [application]="application" /></li>
              </ul>
            </div>
          }
        } @else {
          <div>No Applications to Display.</div>
        }
      </div>
    </div>
    <div class="col-3">
      <app-interview-card />
    </div>
  </div>
</div>