#edit-btn {
  color: #6e2594;
}

#delete-btn {
  color: red;
}

.more-btn-container {
  margin-left: auto;
}

.card {
  /* overflow: hidden; */
  /* min-height: 150px; */
  width: 100%;
}

.note {
  text-align: center;
}

.question {
  width: 25%;
  border-right: 1px solid var(--border-color);
  min-height: 150px;
  text-align: center
}