<div id="questions-container">
  <div id="btn-container">
    <button mat-icon-button class="btn" id="ai-btn" (click)="generateQuestions(applicationId)">
      <mat-icon>smart_toy</mat-icon>
    </button>
    <button class="btn" id="add-btn" (click)="openDialog(applicationId)">+ Add Question</button>
  </div>
  @for (question of generatedQuestions$ | async; track question.id) {
    <div class="card mb-3">
      <div class="card-body d-flex flex-row">
        <p class="question pe-4">{{ question.question }}</p>
        @if (question.note) {
          <p class="note ps-4">{{ question.note }}</p>
        } @else {
          <p class="note ps-4 text-muted">No notes yet...</p>
        }
        <div class="more-btn-container">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Update</button>
            <button mat-menu-item (click)="deleteQuestion(question.id)">Delete</button>
          </mat-menu>
        </div>
      </div>
    </div>
  }
  @for (question of userCreatedQuestions$ | async; track question.id) {
    <div class="card mb-3">
      <div class="card-body d-flex flex-row">
        <p class="question pe-4">{{ question.question }}</p>
        @if (question.note) {
          <p class="note ps-4">{{ question.note }}</p>
        } @else {
          <p class="note ps-4 text-muted">No notes yet...</p>
        }
        <div class="more-btn-container">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Update</button>
            <button mat-menu-item (click)="deleteQuestion(question.id)">Delete</button>
          </mat-menu>
        </div>
      </div>
    </div>
  }
</div>