#ai-btn {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#btn-container {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;;
}

.btn {
  color: white;
  background-color: var(--primary-color);
}

.more-btn-container {
  margin-left: auto;
}

.card {
  width: 100%;
}

.note {
  text-align: center;
}

.question {
  width: 25%;
  border-right: 1px solid var(--border-color);
  min-height: 150px;
  text-align: center
}