<div id="questions-container">
  <div id="btn-container">
    <button mat-icon-button class="btn" id="ai-btn" (click)="generateQuestions(applicationId)">
      <mat-icon>smart_toy</mat-icon>
    </button>
    <button class="btn" id="add-btn" (click)="openDialog(applicationId)">+ Add Question</button>
  </div>
  @for (generatedQuestion of generatedQuestions$ | async; track generatedQuestion.id) {
    <app-question-card [question]="generatedQuestion" />
  }
  @for (question of userCreatedQuestions$ | async; track question.id) {
    <app-question-card [question]="question" />
  }
</div>