@import "../public/fonts.css";

:root {
  --primary-color: #6e2594;
  --border-color: #d9d9d9;
  --applied-status-background: #E0F0FF;
  --applied-status-text: #0073E6;
  --interview-status-background: #FFF3E0;
  --interview-status-text: #EF6C00;
  --rejected-status-background: #FFEBEE;
  --rejected-status-text: #C62828;
}

body {
  font-family: "Inter" !important;
  color: #141414;
  padding-top: 100px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
