@import "../public/fonts.css";

:root {
  --main-color: #6e2594;
}

body {
  font-family: "Inter" !important;
  color: #141414;
  padding-top: 75px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
