@import "../public/fonts.css";

:root {
  --primary-color: #6e2594;
  --border-color: #d9d9d9;

  /* Status colors */
  --assessment-text: #1565c0;
  --assessment-background: #e3f2fd;
  --applied-background: #f2e6fa;
  --applied-text: #6e2594;
  --interview-background: #FFF3E0;
  --interview-text: #EF6C00;
  --offer-text: #2e7d32;
  --offer-background: #e8f5e9;
  --rejected-background: #FFEBEE;
  --rejected-text: #C62828;
  --ghosted-text: #757575;
  --ghosted-background: #f5f5f5;
}

body {
  font-family: "Inter" !important;
  color: #141414;
  padding-top: 100px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
