<div class="card">
  <div class="row g-0">
    <div class="col">
      <div class="card-body">
        <a class="stretched-link" [routerLink]="['/applications', application().id]"></a>
        <div class="row">
          <div class="col card-title">
            <div class="rounded me-4" id="company-avatar" #companyAvatar>{{ logoText }}</div>
            <div>
              <h4 class="fw-bold">{{ application().jobTitle }}</h4>
              <p class="card-text text-muted">
                {{ application().company }} / {{ application().industry | removeUnderscores }}
              </p>
            </div>
          </div>
          <div class="col actions-container">
            <button mat-icon-button>
              <mat-icon>favorite-border</mat-icon>
            </button>
            <div id="more-btn-container">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>UPDATE</button>
                <button mat-menu-item (click)="deleteApplication(application().id)">DELETE</button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col">
            <p class="card-text icon-text">
              <mat-icon class="me-1">calendar_today</mat-icon>
              {{ application().dateApplied | date: 'shortDate'}}
            </p>
          </div>
          <div class="col">
            <p class="card-text icon-text">
              <mat-icon class="me-1">location_on</mat-icon>
              {{ application().location }}
            </p>
          </div>
          <div class="col">
            <p class="card-text icon-text">
              <mat-icon class="me-1">schedule</mat-icon>
              {{ application().jobType | removeUnderscores}}
            </p>
          </div>
          <div class="col-4" id="status-select-container">
            <select class="form-select" (change)="onPatchApplication(application().id, $any($event.target).value)">
              <option [selected]="application().status === 'APPLIED'" value="APPLIED">APPLIED</option>
              <option [selected]="application().status === 'ONLINE_ASSESSMENT'" value="ONLINE_ASSESSMENT">ONLINE ASSESSMENT</option>
              <option [selected]="application().status === 'INTERVIEW'" value="INTERVIEW">INTERVIEW</option>
              <option [selected]="application().status === 'OFFER'" value="OFFER">OFFER</option>
              <option [selected]="application().status === 'REJECTED'" value="REJECTED">REJECTED</option>
              <option [selected]="application().status === 'GHOSTED'" value="GHOSTED">GHOSTED</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
