<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3 border-end">
      <img src="/card-img-placeholder.svg" class="img-fluid rounded-start mt-5 ms-5" id="card-img" alt="logo">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <a class="stretched-link" [routerLink]="['/applications', application().id]"></a>
        <div class="row">
          <div class="col">
            <h5 class="card-title">{{ application().jobTitle }}</h5>
          </div>
          <div class="col text-end" id="more-btn-container">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>UPDATE</button>
              <button mat-menu-item (click)="deleteApplication(application().id)">DELETE</button>
            </mat-menu>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="card-text">{{ application().company }}</p>
          </div>
          <div class="col">
            <p class="card-text text-end">{{ application().industry | removeUnderscores }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="card-text">{{ application().location }}</p>
          </div>
          <div class="col">
            <p class="card-text text-center">{{ application().dateApplied | date: 'shortDate'}}</p>
          </div>
          <div class="col">
            <p class="card-text text-end">{{ application().jobType | removeUnderscores}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <mat-icon>star-border</mat-icon>
          </div>
          <div class="col" id="status-select-container">
            <select class="form-select" (change)="onPatchApplication(application().id, $any($event.target).value)">
              @for (status of statuses; track $index) {
                <option [value]="status">{{ status | removeUnderscores}}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
